{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img src="/static/{{club.name}}.png"  onerror="this.src='/static/ClubLogo'" width="80" height="80" alt=""></a>
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span><h1> {{club.name}}</h1>

</nav>


<a href={{ url_for('newPlayer', club_id=club.id) }}>New Player</a>
<a href={{ url_for('deleteClub', club_id=club.id) }}>Delete Club</a>
<a href={{ url_for('editClub', club_id=club.id) }}>Edit Club</a>



<div class="col-md-7"></div>
</div>
<div class="row">
	<div class="col-md-12">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li> <strong> {{ message }} </strong> </li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</div>
</div>
{% if players !=[] %}
<div class="row">

	<div class="container">
		<table class="table table-hover table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Age</th>
					<th scope="col">Nationality</th>
					<th scope="col">Market Value (Million)</th>
					<th scope="col">Position</th>
					<th scope="col">Option</th>
				</tr>
			</thead>
			<tbody>

				{% for player in players %}

				<tr>
					<th scope="row">{{loop.index}}</th>
					<td>{{player.name}}</td>
					<td>{{player.age}}</td>
					<td>{{player.nationality}} <img src='/static/{{player.nationality}}.png' onerror="this.src='http://placekitten.com/20/12'"" </td> <td>{{player.market_value}}$</td>
					<td>{% if player.position == '1' %} Forward {% elif player.position == '2' %} Midfielder {% elif player.position
						== '3' %} Defender {% elif player.position == '4' %} Goal Keeper {% endif %}</td>
					<td><a href='{{url_for('editPlayer', club_id = club.id, player_id=player.id ) }}'>Edit</a> |
						<a href='{{url_for('deletePlayer', club_id = club.id, player_id=player.id ) }}'>Delete</a>
					</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>

	</div>

</div>
{% endif %}
{% endblock %}